body{   
    background-image: url('cvsu.jpg');
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	height: 575px;
	margin-top: -15px;
}

#form{  
    border: solid darkgreen 5px;  
	width: 55%; 
    height: 500px; 
	border-radius: 10px;  
    margin: 100px auto;  
   	background: white;  
   	padding: 40px;  
    background-color: white;
    margin-top: 25px;
}  
#ca{  
    color: #fff;  
    background: darkgreen;  
    padding: 7px;  
    margin-left: 75%;  
}

h1, h3{
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: darkgreen;
}

label, input{
	text-align: center;
	font-family: 'Gruppo', cursive;
	font-weight: bold;
	font-size: 18px;
	color: #729d39;
	margin-left: 5%; 
	border-radius: 10px;
}

select{
	text-align: center;
	font-family: 'Gruppo', cursive;
	font-weight: bolder;
	font-size: 15px;
	color: green;
	margin-left: 3px;
	border-radius: 10px;
}

