 .u-section-1 {
  background-image: linear-gradient(#006522, black);
  min-height: 766px;
}

.u-section-1 .u-shape-1 {
  height: 15px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-table-1 {
  width: 1140px;
  margin: 85px auto 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-28 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-29 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-30 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-31 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-32 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-33 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-34 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-35 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-36 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-38 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-39 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-40 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-41 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-42 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-43 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-44 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-46 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-47 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-48 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-49 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-50 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-51 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-52 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-53 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-54 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-table-cell-55 {
  border-style: solid;
  background-image: none;
}

.u-block-4eee-50 {
  border-style: solid;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}